:root {
  --color-brand-dark: #011c44;
  --color-secondary-light-gray: #747272;
  --color-secondary-dark-gray: #4a4a4a;
  --color-brand-light: #2b7fff;
  --color-primary-light: #ffffff;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
